:root {
  --steel-blue-2: #2e80b6;
  --dark-slate-gray-2: #374053;
  --white-smoke-2: #f0f0f0;
  --white-smoke-3: #fff;
  --firebrick: #bf3a30;
  --steel-blue: #3b99d9;
  --dark-khaki: #a8d069;
  --medium-sea-green: #30ad64;
  --light-sea-green: #25ccbf;
  --light-sea-green-2: #20ac99;
  --sandy-brown: #f8c740;
  --goldenrod: #e2a62b;
  --khaki: #face6a;
  --sandy-brown-2: #e4b962;
  --salmon: #fd7072;
  --indian-red: #cf404d;
  --tan: #d39f9a;
  --dim-gray: #735260;
  --indian-red-2: #af4173;
  --brown: #822e50;
  --tomato: #e64c40;
  --salmon-2: #fc7d64;
  --white-smoke: #ecf0f1;
  --silver: #bec3c7;
  --dim-gray-2: #49647b;
  --dark-slate-gray: #2d3e4f;
  --cadet-blue: #668cad;
  --pale-turquoise: #bfe0ff;
  --light-sky-blue: #69b9ff;
  --dodger-blue: #2e9dff;
  --black: #192024;
  --dim-gray-3: #676770;
  --light-slate-gray: #8e8e9c;
}

body {
  color: #6a859c;
  background-color: #edeff2;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  color: #676770;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}

h3 {
  color: #676770;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  color: #676770;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.button {
  background-color: var(--steel-blue-2);
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  border: 1px solid #2e80b6;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px 30px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s;
  display: inline-block;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  width: 100%;
  background-color: #5f1414;
  border-color: #5f1414;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.button.tab {
  background-color: rgba(255, 77, 0, 0);
  border-width: 2px;
  border-color: #ff4d00;
  margin-left: 8px;
  margin-right: 8px;
  transition: background-color .3s;
}

.button.tab:hover {
  background-color: #2e80b6;
}

.button.tab.w--current {
  background-color: rgba(46, 128, 182, 0);
  border-width: 2px;
  transition: background-color .3s;
}

.button.tab.pressed {
  background-color: rgba(129, 73, 49, .24);
}

.button.tab.hover {
  background-color: rgba(255, 77, 0, 0);
}

.navigation-link {
  color: #676770;
  transition: all .3s ease-in-out;
}

.navigation-link:hover {
  color: #2e9dff;
}

.navigation-link.w--current {
  text-align: center;
  flex-flow: row;
  display: block;
}

.navigation-bar {
  background-color: #fff;
}

.brand-text {
  color: #69b9ff;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 25px;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section {
  color: #252525;
  text-align: center;
  background-color: #fff;
  padding: 80px 10px;
  position: relative;
}

.section.accent {
  background-color: var(--dark-slate-gray-2);
  border-top: 3px solid #232430;
  border-bottom: 3px solid #bdbdbd;
  border-radius: 0;
}

.white-box {
  text-align: center;
  background-color: #fff;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  padding: 15px;
}

.white-box.transparent {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  text-align: center;
  mix-blend-mode: normal;
  background-image: linear-gradient(rgba(218, 41, 41, .5), rgba(243, 136, 97, .5)), url('../images/bg.png');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  border-bottom: 0 solid #69b9ff;
  padding-top: 195px;
  padding-bottom: 195px;
}

.hero-heading {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Rubik, sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.hero-subheading {
  color: #351307;
  letter-spacing: 3px;
  text-transform: lowercase;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 40px;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.hollow-button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 30px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s, border .3s, color .3s;
  display: inline-block;
}

.hollow-button:hover {
  color: #2e9dff;
  border-color: #2e9dff;
}

.hollow-button.all-caps {
  text-transform: uppercase;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 16px;
}

.section-heading.centered {
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  -webkit-text-stroke-color: #fff;
  text-transform: uppercase;
  font-family: Rubik, sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.section-heading.centered.white {
  color: #fff;
}

.section-subheading.center {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.section-subheading.center.off-white {
  color: #e8e8e8;
  padding-bottom: 0;
}

.section-title-group {
  margin-bottom: 60px;
}

.form-field {
  height: 45px;
  border: 0 solid #000;
  border-radius: 3px;
  margin-bottom: 17px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, .3);
}

.form-field.text-area {
  height: 110px;
}

.footer {
  background-color: var(--white-smoke-2);
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.footer.center {
  background-color: var(--dark-slate-gray-2);
  text-align: center;
  background-image: linear-gradient(rgba(95, 20, 20, .55), rgba(95, 20, 20, .55));
  border-top: 1px solid #dbdbdb;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-text {
  color: var(--white-smoke-3);
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.grid-image {
  width: 35%;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #ff4d00;
  background-color: #ff4d00;
  border: 10px solid #fff;
  border-radius: 50%;
  margin: 20px auto;
  padding: 20px;
  display: block;
  box-shadow: 0 0 0 1px #ff3c00;
}

.info-icon {
  float: left;
  background-color: rgba(255, 0, 0, 0);
}

.footer-link {
  color: #668cad;
  border-bottom: 1px solid #d5d5e0;
  margin-bottom: 6px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  display: block;
}

.footer-link:hover {
  color: rgba(0, 140, 255, .84);
}

.footer-link.with-icon {
  margin-left: 30px;
  font-family: Rubik, sans-serif;
  font-weight: 500;
}

.tab-menu {
  text-align: center;
  background-color: rgba(255, 77, 0, 0);
  margin-bottom: 40px;
}

.tabs-wrapper {
  text-align: center;
}

.fullwidth-image {
  width: 39%;
  margin-bottom: 20px;
}

.white-text {
  color: #fff;
  margin-bottom: 20px;
}

.form {
  margin-top: 40px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.image {
  text-align: left;
  object-fit: fill;
  flex-flow: row;
  padding-top: 10px;
  padding-left: 10px;
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  overflow: auto;
}

.text-span {
  color: var(--firebrick);
  font-size: 20px;
}

.heading {
  color: #fff;
  font-family: Rubik, sans-serif;
  font-weight: 600;
}

.paragraph {
  color: #fff;
  font-family: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.image-2 {
  padding-left: 35px;
}

.button-2 {
  letter-spacing: 1px;
  background-color: #44352a;
  border-radius: 4px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.heading-2 {
  font-weight: 400;
}

.lottie-animation {
  padding-bottom: 20px;
}

.text-block {
  color: #4b4b4b;
  padding-bottom: 10px;
}

.paragraph-2 {
  color: #333;
  padding-bottom: 10px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.paragraph-3 {
  color: #ff4d00;
  -webkit-text-stroke-color: #ff4d00;
  font-family: Rubik, sans-serif;
  font-size: 50px;
  font-weight: 900;
}

.paragraph-4 {
  color: #ff4d00;
  font-family: Rubik, sans-serif;
  font-size: 50px;
  font-weight: 900;
}

.paragraph-5 {
  color: #333;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.heading-3, .heading-4 {
  color: #000;
  font-size: 25px;
  font-weight: 700;
}

.button-3 {
  -webkit-text-stroke-color: #636363;
  background-color: #943309;
  border-radius: 4px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px 30px;
  font-family: Rubik, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.button-3.color {
  background-color: #374053;
  border-radius: 5px;
}

.div-block {
  background-color: #374053;
  border: 0 solid #000;
  border-top: 3px dotted #1c2446;
  border-radius: 0;
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.heading-5, .heading-6, .paragraph-6 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
}

.body {
  background-color: #fff;
}

.link {
  font-family: Rubik, sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .navigation-link {
    color: rgba(255, 255, 255, .52);
  }

  .navigation-link.w--current {
    color: #fff;
  }

  .hamburger-button.w--open, .navigation-menu {
    background-color: #3b99d9;
  }

  .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
  }

  .grid-image {
    width: 50%;
    padding: 15px;
  }
}

@media screen and (max-width: 767px) {
  .button.full-width {
    margin-left: auto;
    margin-right: auto;
  }

  .button.tab {
    font-size: 12px;
  }

  .white-box {
    margin-bottom: 30px;
  }

  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
  }

  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero-subheading {
    font-size: 18px;
  }

  .form-field.text-area {
    display: block;
  }

  .grid-image {
    width: 20%;
    padding: 20px;
  }

  .spc {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }

  .hero-section.centered {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-subheading.center {
    line-height: 30px;
  }

  .grid-image {
    width: 35%;
  }
}


